<style>
    #cropper-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000; 
        overflow: auto; 
        padding: 20px; 
    }

    .modal-content {
        background-color: #fff; 
        max-width: 80%; 
        max-height: 80%; 
        border-radius: 10px; 
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        padding: 20px; 
        margin: auto; 
        overflow: hidden;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%; 
        overflow: hidden;
    }

    .img-container img {
        max-width: 100%; 
        max-height: 100%; 
        object-fit: contain;
    }

    .btn {
        margin: 10px;
    }
</style>


<section class="content-main">
        <form method="post" action="/admin/editProduct/<%=product._id %>" enctype="multipart/form-data" id="form">

        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit <%= product.productName %></h2>

                    <div>
                        <a href="/admin/products" class="btn btn-light rounded font-sm mr-5 text-body">Discard</a>
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">save</button>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Product Details</h4>
                    </div>
                    <div class="card-body">

                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product Name</label>
                            <input type="text" required placeholder="Type here" class="form-control" name="name" id="name" value="<%=product.name  %>"/>
                            <span id="name-error" class="text-danger" style="display:none;"></span> 
                            <input type="hidden" id="product-Id" name="product-Id" value="<%= product._id %>">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="description" required  ><%= product.description  %></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input placeholder="₹" type="number" id="price" name="price" class="form-control" min="1" required value="<%= product.price  %>" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-2">
                                    <label class="form-label">Product Offer (%)</label>
                                    <div class="row gx-2">
                                        <input placeholder="%" type="number" id="product-offer" name="product-offer" class="form-control" min="0" max="99" value="<%= product.offer %>"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="category" id="category" required>
                                    <% categories.forEach(element => { %>
                                        <option value="<%= element._id %>"
                                          <%= (product.category && element._id.toString() === product.category._id.toString()) ? 'selected' : '' %>>
                                          <%= element.name %>
                                        </option>
                                      <% }); %>
                                      
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input placeholder="100" type="number" id="stock" name="stock" class="form-control" min="1" required value="<%= product.stock  %>"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- images -->
        <div class="card">
            <div class="card-header">
                <h4>Product Images</h4>
            </div>
            <div class="card-body">


                <div class="row">
                    <% product.image.forEach((img, index) => { %>
                    <div class="col-lg-3">
                        <img src="/admin/productImages/<%= img %>" class="img-thumbnail" alt="Product Image" />
                        <div class="form-check">
                            <input class="form-check-input delete-image-checkbox" type="checkbox" name="deleteImages" value="<%= img %>" />
                            <label class="form-check-label">Delete Image</label>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <div class="card-body">
                    <div class="input-upload">
                        <div id="preview-container">
                            <img src="/admin/imgs/theme/upload.svg" alt=""/>
                        </div>
                        
                        <input class="form-control" type="file" name="image" id="image" multiple accept=".webp, .jpg, .jpeg" />

                        <span id="image-error" class="text-danger" style="display:none;">You can only upload a maximum of 5 images.</span> 
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="deleteImagesInput" value="" />

    </form>
</section>

<script src="https://unpkg.com/cropperjs@latest/dist/cropper.js"></script>

<script src="/admin/scripts/editProduct.js"></script>