<style>
    .red-input {
        border: 2px solid red;
    }
</style>

<section class="content-main">

    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Edit Category </h2>
            <p>Edit Name or Description</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">

        <div class="card col-md-4 mt-5">
            <div class="card-body">
                <div class="row">

                    <div class="">

                        <form id="form" method="post" action="/admin/editCategory">
                            <input id="categoryId" type="hidden" name="categoryId" value="<%= category.id %>">

                            <div class="mb-4">

                                <label for="categoryName" class="form-label">Category Name</label>

                                <input id="category-name" type="text" placeholder="Type here" required
                                    class="form-control mb-2  <%= nameError ?'red-input':'' %> " name="name"
                                    value="<%= category.name %>" />
                                <% if (nameError) { %>
                                    <h5 style="color: red;">
                                        <%= nameError %>
                                    </h5>
                                    <% } %>
                            </div>

                            <div class="mb-4">

                                <label class="form-label">Category Description</label>
                                <textarea id="categoryDescription" placeholder="Type here" required
                                    class="form-control mb-2 <%= descriptionError ?'red-input':'' %>"
                                    name="description"><%= category.description %></textarea>
                                <% if (descriptionError) { %>
                                    <h5 style="color: red;">
                                        <%= descriptionError %>
                                    </h5>
                                    <% } %>
                            </div>

                            <div class="d-grid">
                                <div style="display: flex; align-items: center; justify-content: space-evenly;">
                                    <a href="/admin/category" class="btn btn-light"> Discard </a>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<script src="/admin/scripts/category.js"></script>