<style>
    .red-input {
        border: 2px solid red;
    }
</style>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="/admin/addCategory" id="form">
                        <div class="mb-4">
                            <label for="categoryName" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" class="form-control mb-2 <%= nameError ?'red-input':'' %>" name="name" id="category-name" required value="<%=name  %>" />
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control mb-2 <%=descriptionError? 'red-input':'' %>" name="description" required><%= description  %></textarea>
                            <% if (descriptionError) { %>
                            <h5 style="color: red;">
                                <%= descriptionError %>
                            </h5>
                            <% } %>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-1">
                                        <div class="form-check"></div>
                                    </th>
                                    <th class="col-md-2">Name</th>
                                    <th class="col-md-4">Category ID</th>
                                    <th class="col-md-2">Status</th>
                                    <th class="text-end col-md-1">Disable/Enable</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% categoryData.forEach((x)=>{ %>

                                <tr>
                                    <td class="text-center">
                                        <div class="form-check">➤</div>
                                    </td>
                                    <td>
                                        <b>
                                            <a href="/admin/editCategory/<%- x._id %>">
                                                <%= x.name %>
                                            </a>
                                        </b>
                                    </td>
                                    <td>
                                        <a href="/admin/editCategory/<%- x._id %>">
                                            <%= x._id %>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                                            <% if(x.is_active){ %>
                                            <span class="badge rounded-pill alert-success">Active</span>
                                            <% }else{ %>
                                            <span class="badge rounded-pill alert-danger">Disabled</span>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <a href="/admin/disable/<%- x._id %>" class="btn btn-sm font-sm btn-light rounded">
                                            <% if(x.is_active){ %>
                                                🔒 Disable
                                              <% }else{ %>
                                                🔓</i>Enable
                                              <% } %>
                                         </a>
                                    </td>
                                </tr>

                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/admin/scripts/category.js"></script>